@{
    ManifestRepo      = 'C:\path\to\gitops-repository'
    ManifestPath      = 'path/to/application.yaml'
    PodAnnotationName = 'signalizr.example.com/deployed-version'
    ChartPath         = 'charts/signalizr'
    ChartRepository   = 'f2calv/charts/signalizr'
}
